<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>İletişim</title>
</head>
<body>
    <h1>İletişim</h1>
    <p>Bizimle iletişime geçmek için aşağıdaki bilgileri kullanabilirsiniz:</p>
    <ul>
        <li>Email: info@oynaveogren.com</li>
        <li>Telefon: +90 123 456 7890</li>
        <li>Adres: Öğrenci Mahallesi, Öğrenci Sokak No: 123, Ankara</li>
    </ul>


    <li class="bottom"><a href="{{ url_for('index') }}">Ana Sayfa</a></li>
    <li class="bottom"><a href="{{ url_for('about') }}">Hakkında</a></li>
    <li class="bottom"><a href="{{ url_for('games') }}">Oyunlar</a></li>
</body>
</html>