<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Oyna ve Öğren: Ana Sayfa</title> 
</head>
<body>
    <h1>Oyna ve Öğren</h1>

    <nav>
        <ul>
            <li><h2><a href="{{ url_for('about') }}">Hakkında</a></h2></li>
            <li><h2><a href="{{ url_for('games') }}">Oyunlar</a></h2></li>
            <li><h2><a href="{{ url_for('contact') }}">İletişim</a></h2></li>
        </ul>
</body>
</html>